* {
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
	color: white;
}

/* body {
  background-image: url(\page_big.png);
  background-repeat: no-repeat;
	opacity: 0.4;
} */

.main {
	height: 1610px;
	width: 1197px;
	background-color: black;
	/* background-color: black; */
}

.flex-container {
	display: flex;
	justify-content: space-between;
	height: 680px;
	width: 1197px;
}

.left {
	width: 45%;
	margin-left: 30px;
}

.left h1, .right h1 {
	font-size: 65px;
	font-style: italic;
	line-height: 0.9;
	margin-bottom: 74px;
}

.right {
	width: 51%;
	margin-left: 40px;
}

.right h1 {
	margin-bottom: 132px;
}

.fees, .fees-right{
	color: rgb(204, 204, 204);
	padding-left: 2px;
	word-spacing: 0.1cm;
	font-weight: bold;
	padding-bottom: 20px;
	margin-right: 100px;
	border-bottom: 1px solid rgb(204, 204, 204);
	margin-bottom: 28px;
}

.fees-right {
	margin-right: 175px;
}

.left h3, .right h3 {
	font-size: 20px;
	font-style: italic;
	padding-left: 3px;
	word-spacing: 0.1cm;
	letter-spacing: 0.015cm;
	line-height: 1;
}

.includes {
	padding-top: 3px;
	padding-left: 3px;
}

.includes-title {
	letter-spacing: 0.05cm;
}

.includes div {
	margin-bottom: 22px;
}

.includes img {
	padding-right: 12px;
}

.items, .items-warrenty {
	font-size: 20px;
	color: rgb(204, 204, 204);
	letter-spacing: 0.03cm;
	word-spacing: 0.05cm;
}

.items-warrenty {
	letter-spacing: 0.01cm;
	word-spacing: 0.01cm;
}

.add {
	padding-top: 2px;
	letter-spacing: 0.01cm;
	line-height: 1.2;
	color: rgb(204, 204, 204);
}

.flex-container2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #252525;
	margin-left: 32px;
	margin-right: 58px;
	margin-top: 42px;
	height: 90px;
	/* opacity: 0.4; */
}

.charge {
	display: flex;
	align-items: center;
	color: white;
	padding-left: 20px;
	font-style: italic;
	letter-spacing: 0.05cm;
}

.charge img {
	padding-right: 20px;
}

.learn-more {
	margin-right: 20px;
	border: 1px solid white;
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 22px;
	letter-spacing: 0.05cm;
	word-spacing: 0.06cm;
	cursor: pointer;
}

.sign-up {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 32px;
	margin-top: 45px;
	width: 210px;
	height: 48px;
	font-size: 17px;
	font-weight: bold;
	padding-top: 2px;
	letter-spacing: 0.07cm;
	background-color: #252525;
	cursor: pointer;
	margin-bottom: 155px;
	/* opacity: 0.4; */
}

.sign-up:hover {
	background-color: #29b068;
}

/* ----------------- table 1 ------------------------ */
.flex-tables {
  display: flex;
	margin-left: 32px;
	margin-right: 60px;
	height: 67px;
	/* opacity: 0.4; */
}

.table-cell {
  border-bottom: 2px solid rgb(58, 57, 57);
  display: flex;
  align-items: center;
  letter-spacing: 0.06cm;
}
/* ----------------- table 1 ------------------------ */

/* -----------------table rows ------------------------ */
.column0 {
  width: 37.5%;
}

.table-cell h3 {
	font-style: italic;
	justify-content: flex-start;
}

.column1 {
  width: 10%;
	justify-content: center;
	border-bottom: 2px solid #252525;
}
.column2 {
  width: 26%;
	justify-content: center;
	/* background-color: aqua; */
	/* opacity: 0.4; */
}

.column3 {
  width: 16.5%;
	justify-content: center;
	padding-right: 5px;
}

.column4 {
  width: 10%;
	justify-content: center;
}
/* -----------------table row1 ------------------------ */

/* -----------------table rows ------------------------ */

.table-cell h4 {
	letter-spacing: 0.04cm;
	justify-content: flex-start;
}

.column2-1 {
	font-size: 20px;
	background-color: #252525;
	margin-top: 0;
}

/* -----------------table rows ------------------------ */








/* ----------------- table 2 ------------------------ */
.flex-tables-2 {
  display: flex;
	margin-left: 32px;
	margin-right: 60px;
	height: 120px;
	/* opacity: 0.4; */
	margin-top: 57px;
}

.tables2-cell {
  border-bottom: 2px solid rgb(58, 57, 57);
	border-top: 2px solid rgb(58, 57, 57);
  display: flex;
  align-items: center;
  letter-spacing: 0.06cm;
}

/* ----------------- table 2 ------------------------ */

/* -----------------tables rows ------------------------ */
.table2-column0 {
  width: 37.5%;
	border-bottom: 2px solid rgb(58, 57, 57);
	border-top: 2px solid rgb(58, 57, 57);
	letter-spacing: 0.04cm;
}

.table2-column0 h3 {
	font-style: italic;
	justify-content: flex-start;
	font-style: italic;
	letter-spacing: 0.05cm;
}

.table2-column1 {
  width: 10%;
	justify-content: center;
	border-bottom: 2px solid #252525;
}

.table2-column2 {
  width: 26%;
	flex-direction: column;
	justify-content: center;
	/* background-color: aqua; */
	/* opacity: 0.4; */
}

.annual-fee {
	letter-spacing: 0.01cm;
}

.table2-column3 {
  width: 16.5%;
	justify-content: center;
	padding-right: 5px;
}

.table2-column4 {
  width: 10%;
	justify-content: center;
}
/* -----------------tables rows ------------------------ */

/* -----------------tables rows ------------------------ */

.table2-cell h4 {
	letter-spacing: 0.04cm;
	justify-content: flex-start;
}

.table2-column2-1 {
	font-size: 20px;
	background-color: #252525;
	margin-top: 0;
}

/* -----------------table rows ------------------------ */

.full-price {
	margin-left: 31px;
	margin-right: 60px;
	margin-top: 44px;
	letter-spacing: 0.04cm;
	/* opacity: 0.4; */
	text-decoration: underline;
}
